#trips-container{
 display: flex;
 align-items: center;
 justify-content: space-between;
 width:100vh ;
 flex-direction: row;
 flex-wrap: wrap;
 background-color: rgba(14, 13, 0, 0.349);
}
.trip-card{
 width: 30%;
 background-color: rgb(218, 232, 243);
 color: rgb(0, 0, 0);
 cursor: pointer;
 margin: 2%;
 border-radius: 5px;
}
#trips-container-id{
 display: flex;
 align-items: center;
 justify-content: center;
 width:100vh ;
 flex-direction: row;
 flex-wrap: wrap;
}
.trip-card-id{
 font-size: x-large;
 width: 70%;
 background-color: black;
 color: azure;
 cursor: pointer;
 margin: 2%;
}
.functions-buttons-container{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding-right: 20%;
  padding-left: 20%;
}